@model List<ResultCarPricingDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Pricing List</h4>
                        <p class="card-subtitle mb-4">
                            You can perform transactions related to Car Pricing on this page.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Hourly Amount</th>
                                        <th>Daily Amount</th>
                                        <th>Weekly Amount</th>
                                        <th>Monthly Amount</th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GroupBy(x => new {x.CarId, x.Brand, x.Model }))
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Key.Brand</td>
                                            <td>@item.Key.Model</td>
                                            @foreach (var price in item)
                                            {
                                                var roundedAmount = (int)Math.Floor(price.Amount); // Fiyatı tam sayıya dönüştürme
                                                <td> <strong>@roundedAmount</strong> <i class="fas fa-dollar-sign text-success"></i></td>
                                            }

                                            <td>
                                                <a href="/Admin/AdminCarPricing/CarPricingsDetail/@item.Key.CarId" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


