@model CreateTestimonialDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Create New Testimonial</h4>
                        <p class="card-subtitle mb-4">Please provide all the essential details about the testimonial. Once you've completed the entries, finalize the process by clicking the save button.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" class="form-control" id="Title" asp-for="Title" placeholder="Enter Title">
                            </div>
                            <div class="form-group">
                                <label for="Comment">Comment</label>
                                <textarea class="form-control" id="Comment" asp-for="Comment" placeholder="Enter Comment"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ImageUrl">Image URL</label>
                                <input type="text" class="form-control" id="ImageUrl" asp-for="ImageUrl" placeholder="Enter Image URL">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Create</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


