
<div class="vertical-menu" >

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="/Default/Index/" class="logo">
                <i class="fab fa-cloudsmith"></i>
                <span>
                    CarBook
                </span>
            </a>
        </div>

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">

                <li class="menu-title">Menu</li>

                <li><a href="#" class="waves-effect"><i class="fas fa-chart-pie"></i><span>Dashboard</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-chart-bar"></i><span>Statistics</span></a></li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Go HomePage</span></a></li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="fas fa-car"></i><span>Cars</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car"></i><span>Cars</span></a></li>
                        <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="fas fa-clipboard"></i><span>Features</span></a></li>
                        <li><a href="/AdminBrand/Index/" class="waves-effect"><i class="fas fa-trademark"></i><span>Brands</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fas fa-money-check"></i><span>Pricing</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="fas fa-info-circle"></i><span>Abouts</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/AdminBanner/Index" class="waves-effect"><i class="fab fa-confluence"></i><span>Banners</span></a></li>
                        <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-info"></i><span>About Us</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fas fa-phone"></i><span>Contacts</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span>Address</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Locations</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fas fa-dice-d6"></i><span>Services</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fab fa-instagram"></i><span>Social Media</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="fas fa-blog"></i><span>Blogs</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="fas fa-user-edit"></i><span>Authors</span></a></li>
                        <li><a href="/Admin/AdminCategory/Index/" class="waves-effect"><i class="fas fa-certificate"></i><span>Blog Categories</span></a></li>
                        <li><a href="/Admin/AdminBlog/Index/" class="waves-effect"><i class="fas fa-blog"></i><span>Blogs</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fas fa-comments"></i><span>Comments</span></a></li>
                        <li><a href="#" class="waves-effect"><i class="fas fa-cloud"></i><span>Tag Cloud</span></a></li>
                    </ul>
                </li>

                <li><a href="#" class="waves-effect"><i class="fas fa-cogs"></i><span>Settings</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-power-off"></i><span>Log Out</span></a></li>

            </ul>

        </div>
    </div>
</div>
