@model UpdateSocialMediaDto

@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Update Social Media</h4>
                        <p class="card-subtitle mb-4">You must provide all the essential details about the Social Media. After completing the data entries, you can finalize the process by clicking the save button.</p>

                        <form method="post">
                            <input type="hidden" asp-for="SocialMediaId">

                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label for="Url">URL</label>
                                <input type="text" class="form-control" id="Url" asp-for="Url" placeholder="Enter URL">
                            </div>
                            <div class="form-group">
                                <label for="Icon">Icon</label>
                                <input type="text" class="form-control" id="Icon" asp-for="Icon" placeholder="Enter Icon Class">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
