
<div class="sidebar-box ftco-animate">
    <h3>Tag Cloud</h3>
    <div class="tagcloud">
        <a href="#" class="tag-cloud-link">sedan</a>
        <a href="#" class="tag-cloud-link">SUV</a>
        <a href="#" class="tag-cloud-link">convertible</a>
        <a href="#" class="tag-cloud-link">luxury</a>
        <a href="#" class="tag-cloud-link">economy</a>
        <a href="#" class="tag-cloud-link">rental</a>
        <a href="#" class="tag-cloud-link">van</a>
        <a href="#" class="tag-cloud-link">trucks</a>
    </div>
</div>

